<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @school.year_founded %>
</p>

<p>
  <strong>Street address 1:</strong>
  <%= @school.street_address_1 %>
</p>

<p>
  <strong>Street address 2:</strong>
  <%= @school.street_address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @school.zipcode %>
</p>

<p>
  <strong>Database:</strong>
  <%= @school.database %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @school.profile %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
